/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "totem.dtsi"

/ {
    chosen {
        wakeup-source;
        zmk,kscan = &kscan_0;
    };

    /* pusty kscan dla dongla bez fizycznej macierzy */
    kscan_0: kscan@0 {
        compatible = "zmk,kscan-none";
    };
};